body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  margin: 1em 1em;
}

.country-card-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.country-adder {
  display: block;
  visibility: hidden;
  text-align: center;
  text-justify: justify;
  font-size: 18px;
  font-weight: 900;
  color: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.country-adder:hover {
  color: black;
  filter: invert(70%);
}

.country-adder-text {
  height: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  cursor: pointer;
  text-align: center;
  font-size: 36px;
  padding: 0 30px;
  justify-content: center;
  text-shadow: 3px 2px 6px rgba(150, 150, 150, 1);
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}

@media screen and (min-width: 990px) {
  .country-adder {
    visibility: visible;
  }
}

/* Single country card */
.country-card {
  width: 283px;
  height: 497px;
  left: 19px;
  top: 61px;
  /* margin: 0 auto; */

  background: #e5e5e5;
  border-radius: 20px;
}

.country-card img {
  display: block;
  color: red;
  fill: red;
  margin: 0 auto;
  max-width: 100%;
}

.compare-container img {
  display: block;
  color: red;
  fill: red;
  margin: 0 auto;
  max-width: 100%;
}

.compare-closer {
  font-size: 24px;
  display: block;
  text-align: right;
  cursor: pointer;
  padding: 12px;
  background-color: #c5c5c5;
  width: 100%;
  text-shadow: 3px 2px 6px rgba(150, 150, 150, 1);
  animation: blinker 1s linear infinite;
  border-radius: 20px 20px 0 0;
}

.country-image {
  position: relative;
  display: block;
  height: 30%;
  max-width: 50%;
  margin: 0 auto;
  padding-top: 10px;
  filter: drop-shadow(10px 10px 10px black);
}
/* 
.ratio-image {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
} */

/* Filters for svg country maps */

.filter-green {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
}

.filter-red {
  filter: invert(12%) sepia(42%) saturate(6254%) hue-rotate(354deg)
    brightness(93%) contrast(121%);
}

/* End of filters */

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex: 1 0 40%;
  flex-wrap: nowrap;
  margin: 20px auto 0 auto;
  height: 90px;
  background-color: #e5e5e5;
  padding: 8px;
}
.footer ul {
  list-style: none;
}
.footer ul li {
  color: black;
  font-size: 16px;
  font-weight: 800;
  padding: 8px;
}
.footer ul li a {
  color: black;
  text-decoration: none;
}
.copy {
  display: block;
  width: 100%;
  justify-content: center;
  text-align: center;
  background-color: #c4c4c4;
  padding: 8px;
}

table {
  margin: 0 auto;
  width: 90%;
  /* max-width: 100%; */
  background-color: #c4c4c4;
  border-radius: 20px;
  text-align: center;
  table-layout: fixed;
}
.max {
  width: 100%;
}

th {
  border: none !important;
  font-weight: 800;
}
td {
  border-bottom: 1px black dotted;
  text-align: center;
  margin: 0 auto;
}

.button-sort {
  outline: none;
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
  text-shadow: 0.5px 0.5px 0.5px white;
}
.button-sort:hover {
  text-shadow: 5px 5px 5px white;
}
.sort-icon {
  display: inline-block;
  margin: 0 auto;
  vertical-align: center;
}

.data-exp {
  color: black;
  font-size: 9px;

  vertical-align: middle;
}
.data-num {
  color: black;
  font-size: 12px;

  vertical-align: middle;
}
.data-rate-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-shrink: 1;
  flex-basis: auto;
}

.rate-item {
  display: flex;
}

.country-selector {
  width: 80%;
  margin: 10px auto;
  font-size: 16px;
  color: black;
  text-emphasis: weigt;
  background-color: #e5e5e5;
  border-radius: 20px;
  display: block;
}

option {
  color: black;
  background-color: white;
  border-radius: 20px;
}
select {
  border: none !important;
  text-align: center;
  text-align-last: center;
  outline: none;
}

.red {
  color: red;
}
.compare-button {
  height: 100%;
  display: flex;
  margin: auto;
  align-items: center;
  cursor: pointer;
  text-align: center;
  font-size: 24px;
  /* padding: 0 30px; */
  justify-content: center;
  text-shadow: 3px 2px 6px rgba(150, 150, 150, 1);
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}

.compare-button[wobble="1"] {
  animation: wobble 1s 1;
}

@keyframes wobble {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.country-card-footer {
  display: block;

  margin: 40px auto;
}
/* Pages */

.home {
  background-image: url("./pages/img/earths.png");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
  margin: auto auto;
  height: 100%;

  /* filter: drop-shadow(150px 150px 50px white); */
}

/* About Page */
.about {
  margin: 0 auto;
  width: 90%;
  padding: 36px;
}

/* List Page */
.list {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
/* Contact Page */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  text-align: center;
}

form input {
  width: 80%;
  font-size: 16px;
  background-color: #e5e5e5;
  border-radius: 20px;
  padding: 8px;
}
form input:focus {
  border: none !important;
  border-style: none !important ;
  box-shadow: 5px 5px 5px black;
  outline: none;
}

form textarea {
  width: 80%;
  padding: 8px;
  font-size: 16px;
  background-color: #e5e5e5;
  border-radius: 20px;
  margin: 20px auto;
}
form textarea:focus {
  border: none !important;
  border-style: none !important ;
  box-shadow: 5px 5px 5px black;
  outline: none;
}
.submit-button {
  outline: none;
  width: 50%;
  padding: 8px;
  font-size: 16px;
  background-color: #009933;
  color: white;
  border-radius: 20px;
}

/* Compare Page */

.screen-size-alert {
  width: 200px;
  display: block;
  margin: 0 auto;
  padding: 15px;
}
.screen-size-alert img {
  width: 150px;
  height: auto;
  margin: 0 auto;
}
.compare-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  flex: 1 1 28%;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  margin: 20px auto;
  background-color: #e5e5e5;
  border-radius: 20px;
  padding: 0 0 20px 0;
}
.compare-header {
  display: flex;
  flex-direction: row;
  flex: 1 1 33%;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.arrow {
  width: 24px;
  height: auto;
}

.arrow-down {
  transform: rotate(180deg);
}

/* Global */

.global-container {
  display: flex;
  justify-content: space-evenly;

  height: 90vh;
}
.global-left {
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.global-right {
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.global-data-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: auto;
  height: 25%;
  margin: 0 auto;
  text-align: center;
}
.global-data-exp {
  color: white;
  font-size: 12px;
  font-weight: 800;
  text-align: center;
}

.global-data-num {
  color: white;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
}

/* This is only for dev */
.test-country-image {
  width: 210px;
  height: 149px;
  background-color: aqua;
  margin: 5px auto;
  padding: 5px;
  border: 2px black dotted;
  border-radius: 20px;
  margin-top: 20px;
}

/* Code above only for dev purposes */
